<div class="container">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
  <ul>
      <li><%= restaurant.name %></li>
      <%# <li><%= restaurant.address %></li>
      <%# <li><%= restaurant.phone_number%></li>
      <%# <li><%= restaurant.category%></li>
      <%= link_to "Show", restaurant_path(restaurant), class: 'btn btn-primary btn-sm' %>
      <%= link_to "Edit", edit_restaurant_path(restaurant), class: 'btn btn-warning btn-sm' %>
      <%= button_to 'Delete', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class: 'btn btn-danger btn-sm' %>
  </ul>
  <% end %>

  <p> <%= link_to "new restaurant", new_restaurant_path(@restaurant),class: 'btn btn-success' %></p>

</div>
